/* =====================================================
    LAYOUT SIMPLES PARA PRATICA DE EXERCÍCIOS 

    AULA 12 EX – parte de exercícios
    Exercício: ex014
    Arquivo: modelo.html
======================================================= */

@charset "UTF-8";

/*corpo do site*/
body{
    font: bold 18pt Verdana;
    color: #000;
}

/*cabeçalho*/
header{
    font: bold 20pt 'Courier New', Courier, monospace;
    color: #fff;
    text-align: center;
    text-decoration:underline overline;
}
 
/*seção principal*/
section{
    background: #fff;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.314);
}

div {
    /*centraliza os elementos*/
    text-align: center;
    padding: 10px;
    background-color: aquamarine;
}

/*rodapé*/
footer{
    color: #fff;
    text-align: center;
    font: italic 14pt Arial;
}